* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: Graphik-Medium;
  src: url(../fonts/Graphik-Medium.ttf);
}

@font-face {
  font-family: Graphik-Regular;
  src: url(../fonts/Graphik-Regular.woff);
}

@font-face {
  font-family: Theinhardt;
  src: url(../fonts/Theinhardt-Lt.woff);
}

@font-face {
  font-family: TiemposHeadline;
  src: url(../fonts/TiemposHeadline-Semibold.woff);
}


.space {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: unset;
}

.graphik-m {
  font-family: "Graphik-Medium";
}

.graphik-r {
  font-family: "Graphik-Regular";
}

.theinhardt {
  font-family: "Theinhardt";
}

.tiempos {
  font-family: "TiemposHeadline";
}

header,
ul {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

header ul {
  gap: 1.5rem;
}

header ul li {
  list-style: none;
}

.button {
  border: 1px solid black;
  padding: 0.3rem 3.2rem;
  transition: all 0.5s;
}

.button:hover {
  background: #000;
  color: #fff;
}

main h2 {
  font-size: 3.25rem;
  text-align: center;
  margin: 8rem 0 4rem 0;
}

.title-img {
  width: 100vw;
  margin-bottom: 10rem;
}

/*---------- 1*/

.first {
  display: flex;
  margin-bottom: 15rem;
}

.first .article-one {
  width: 50rem;
  flex-grow: 1;
}

.first .article-one p {
  font-size: 1.75rem;
  line-height: 1.5em;
}

.first .article-two {
  flex-grow: 1;
  margin-left: 5rem;
}

.first .article-two p:first-of-type {
  font-size: 5rem;
}

.first .article-two p:last-of-type {
  width: 15rem;
  color: #848689;
  font-size: 1.5rem;
}

/*---------- 2*/

.second {
  height: 50rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15rem;
}

.second-article {
  width: 49%;
}

.second .article-title {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.second .article-subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.second .article-text {
  color: #848689;
  font-size: 1.75rem;
  margin-bottom: 4rem 3rem;
}

/*---------- 3*/

.third {
  height: 44rem;
  background: hsl(218, 4%, 94%);
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.third-article {
  width: 50%;
  align-self: center;
}

.third .article-title {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.article-list {
  margin-left: 4rem;
}

.third .article-text {
  color: #848689;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

/*---------- 4*/

.fourth {
  text-align: center;
  position: relative;
}

.fourth h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.fourth p {
  color: #848689;
}

.fourth p:first-of-type {
  width: 42%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 0 auto;
}

.fourth p:last-of-type {
  width: 25%;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: start;
  margin-left: 28rem;
  margin-bottom: 15rem;
}

.fourth figure {
  margin-top: 10rem;
}

.fourth figure img {
  width: 100%;
}

.skater {
  width: 42%;
  position: absolute;
  right: 9.5rem;
  bottom: -5rem;
}



footer {
  text-align: center;
  border-top: 1px solid #848689;
}

footer h2 {
  font-size: 5rem;
  margin: 7rem 0 5rem 0;
}

footer p {
  color: #848689;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

footer p::before {
  content: url(../img/costume_guy.png);
}

footer p a {
  color: #000;
}

h6 {
margin: 5vh;
text-align: center;
}
