@font-face {
    font-family: 'graphik-medium';
    src: url(../fonts/Graphik-Medium.ttf);
}
@font-face { 
    font-family: 'graphic-regular'; 
    src: url(../fonts/Graphik-Regular.woff);
} 
@font-face {
    font-family: 'theinhardt';
    src: url(../fonts/Theinhardt-Lt.woff);
}
@font-face {
    font-family: 'tiempos';
    src: url(../fonts/TiemposHeadline-Semibold.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: unset;
    list-style: none;

a {
      color: unset;
    }
}

body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border: 7px solid rgb(5, 192, 33);
  width: 90%;
}

/**/
.graphik-m {
    font-family: "Graphik-Medium";
  }
  
  .graphik-r {
    font-family: "Graphik-Regular";
  }
  
  .theinhardt {
    font-family: "Theinhardt";
  }
  
  .tiempos {
    font-family: "TiemposHeadline";
  }

  .top {
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
  }

  header, ul {
display: flex;
gap: 2rem;
  }

  header {
  justify-content: space-between;
  padding-top: 2vh;
  h2 {
    font-size: 2.2rem;
  }
}

.button {
  border: 1px solid black;
  padding: 0.3rem 3.2rem;
  transition: all 0.5s;
}

.button:hover {
  background: #000;
  color: #fff;
}
/*  */
main {
  border: 4px solid rgb(40, 32, 32);
}

#fst {
  margin-top: 10vh;
  width: auto;
  border: 1px solid red;
  
  h2 {
    font-size: 3.3rem;
    text-align: center;
  }
}  

.fst-img {
width: 100vw;
margin: 6vh 0 10vh 0;
  }

  #fst2 {
    display: flex;
    margin:2vh;
    border: 1px solid red;
  }
  
  .articleL {
    width: 90vw;
    font-size: 1.7em;

  }
    
  .articleR {
  margin-left: 20vw;
  h3 {
    font-size: 3em;
  }
  font-size: 1.5em;
  }

  .first .article-two p:first-of-type {
    font-size: 5rem;
  }
  
  .first .article-two p:last-of-type {
    width: 15rem;
    color: #848689;
    font-size: 1.5rem;
  }
  /*  */
  #scnd{
    height: 50rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15rem;
    border: 1px solid red;
  }
  
  #scnd-article {
    width: 49%;
  }
  
  #scnd .article-title {
    font-size: 5rem;
    margin-bottom: 5rem;
  }
  
  #scnd .article-subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  #scnd .article-text {
    color: #848689;
    font-size: 1.75rem;
    margin-bottom: 4rem 3rem;
  }

  #trd {
    border: 1px solid red;
    margin: 10vh 0 5vh 0;
  }

  #fth {
    border: 1px solid red;
  }

  footer {
    border: 8px solid red;
    margin: 5vh;
  }